[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Horsekicks"]
	path = Horsekicks
	url = https://github.com/cran/Horsekicks
[submodule "JacobiEigen"]
	path = JacobiEigen
	url = https://github.com/cran/JacobiEigen
[submodule "MASSExtra"]
	path = MASSExtra
	url = https://github.com/cran/MASSExtra
[submodule "PolynomF"]
	path = PolynomF
	url = https://github.com/cran/PolynomF
[submodule "SOAR"]
	path = SOAR
	url = https://github.com/cran/SOAR
[submodule "bannerCommenter"]
	path = bannerCommenter
	url = https://github.com/cran/bannerCommenter
[submodule "codingMatrices"]
	path = codingMatrices
	url = https://github.com/cran/codingMatrices
[submodule "conf.design"]
	path = conf.design
	url = https://github.com/cran/conf.design
[submodule "demoKde"]
	path = demoKde
	url = https://github.com/cran/demoKde
[submodule "english"]
	path = english
	url = https://github.com/cran/english
[submodule "fractional"]
	path = fractional
	url = https://github.com/cran/fractional
[submodule "frenchCurve"]
	path = frenchCurve
	url = https://github.com/cran/frenchCurve
[submodule "lazyData"]
	path = lazyData
	url = https://github.com/cran/lazyData
[submodule "minimax"]
	path = minimax
	url = https://github.com/cran/minimax
[submodule "polynom"]
	path = polynom
	url = https://github.com/cran/polynom
[submodule "sudokuAlt"]
	path = sudokuAlt
	url = https://github.com/cran/sudokuAlt
